<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yk.customsdk.customlibiary" >

    <application>
        <activity android:name=".permission.PermissionActivity">
        </activity>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${map_key}" />
    </application>
</manifest>
